/* */
body {
  margin: 0;
  
  font-size: 20px;
  font-variant: small-caps;
  font-family: 'Oswald', sans-serif;
 
  background-image:
url('https://images.unsplash.com/photo-1540753003857-32db1552eead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80'); 
  background-position: center lower; 
} 

.container {
 width: 95%;
 margin: 0 auto;
}

header {
 background-color: white;
}

header::after {
 content: '';
 display: table;
 clear: both;
} 

nav {
 float: right;
} 

nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li {
 display: inline-flex;
 
 margin-left: 70px;
 padding-top: 20px;
 padding-bottom: 20px;
 
 position: relative;
}

nav a{
 color: black;
 text-decoration: none;
}

nav a:hover {
 color: red;
}

nav a::before {
 content: '';
 display: flex;
 height: 5px;
 width: 100%;
 background-color: black;

 position: absolute; 
 top: 0; 
 width: 0;
 
 transition: all ease-in-out 350ms;
}

nav a:hover::before {
 width: 100%;
 
}



/* Screen Size */
@media screen and (max-width: 900px) {
  .container {
     width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .container {
     width: 100%;
  }
}