/* Making the background of the nav black and making it border-box */
:root { 
  --background: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Seeting body to margin 0 and setting default font */
body {
	margin: 0;
	
	font-family: 'Oswald', sans-serif;
}

/* setting background color and aligning text, also overlapping */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* When the screen gets smaller the white name still displays */
.name {
  color: white;
}

/* So checkbox remains out and page names are positioned where they need to be */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* positioning all the labels where it looks properly placed and giving it a height  */
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Here for the hamburger menu which comes up when you go to a smaller screen */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* For hamburger menu response time and for aligned it to the left side  */
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in-out;
 
}

/* Taking out point form and any padding and margin */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

/* Hamburger menu closing response time and making letter uppercase */
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: red;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Setting the px at which hamburger menu comes in */
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

header {
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
  
.name  {
  grid-column: 2 / 3; 
  color: white;
} 
  
nav {
  position: relative;
  text-align: left;
  transition: none;
  transform: scale(1,1);
  background: none;
  top: initial;
  left: initial;
    
    
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  
nav ul {
  display: flex;
}

/* adding margin to space out the nav options */  
nav li {
  margin-left: 3em;
  margin-bottom: 0;
}
  
nav a {
  opacity: 1;
  position: relative;
}
  
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background: white;
  position: absolute;
  top: -.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
  
nav a:hover::before {
  transform: scale(1,1); 
}
}

/* Making the big Welcome text look better with outline and better fonts */
.welcome {
  -webkit-text-stroke: .2px black;
  text-shadow: 
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000, 
      -1px 1px 0 #000,
      1px 1px 0 #000;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 130px;
  color: white;
  
  margin-right: 55rem;
  margin-top: 15rem;
  margin-bottom: 0;
}

/* Tagline getting positioned and getting proper fonts and styles */
p {
  margin-right: 55rem;
  margin-top: 0;
}

p {
  color: white;
  
  font-weight: 700;
  font-size: 35px;
  -webkit-text-stroke: .1px black;
   text-shadow: 
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000, 
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

main {
  display: flex;
  text-align: center;
  align-items: flex-end;                               
  
  min-height: 200vh;
}

main {
  color:white;
  font-size: 28px;
  -webkit-text-stroke: .1px black; 
  text-shadow: 
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000, 
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.foot {
  height: 100vh; 
  background-image: url('https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;  
  
  display: grid;
  place-items: center; 
}

/* changing color and aligning the text in the footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 1em;    
  width: 100%;
}

/* making border around registration button to make it look distinct */
.Reg {
  border: 2px solid red; 
}


/* rying my best to set a proper media query to lower font size */
@media screen and (max-width: 1245px) {
  main {
    font-size: 27px;
  }
}  